@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
box-sizing: border-box ;
text-decoration: none ;
list-style: none;
// font-family: 'Satisfy', cursive;
font-family: 'Lobster', cursive;

transition: 0.7s;
}

.internetex{
    position: fixed;
    z-index: 32423423423423432;
    background-color: rgba(0, 0, 0, 0.933);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
.innerexp{
    width: 500px;
    height: 340px;
    background-color: rgb(255, 255, 255);

}
.headingexp{
    color: black;
    font-size: 40px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: flex-end;

}
.buttonexpdiv{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
}
#expbutton{
    outline: none;
    border-radius: 20px;
    border: none;
    background-color: skyblue;
    color: white;
    font-size: 25px;
    padding: 5px 10px;
    height: auto;
    width: auto;
}
#expbutton:hover{
    cursor: pointer;
}

.detailparadiv{
    color: rgb(67, 67, 67);
    font-size: 16px;
    width: 100%;
    position: relative;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    text-align: center;

}
#expdetailpara span{
    color: red;
}
#expopeninpara{
    color: #15548a !important;
    margin-top: 4px;
}
.exppara{
    max-width: 400px !important;
}
/* scroll bar  */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background:rgb(0, 0, 0); 
    
  }
  ::-webkit-scrollbar-thumb:hover {
     
    background: rgba(255, 255, 255, 0.863); 
    cursor: pointer !important;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); 
    border-radius: 10px;
  }
 
/* scroll bar  */

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

// common properties starting here 

@mixin flexcustom($j,$a,$rap){
    display: flex;
    justify-content: $j;
    align-items: $a;
    flex-wrap: $rap;

}
@mixin flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
@mixin bf($top,$left,$wid,$hig){
    content: "";
    position:absolute;
    top: $top;
    left: $left;
    width: $wid;
    height: $hig;
}
@mixin btn($size,$bo,$topp,$pp){
    width: auto;
    height: auto;
    font-size: $size;
    border: $bo;
    padding: $topp $pp;

}

body,html{
    overflow-x: hidden;
    max-width: 100vw;
}
html{
    font-size: 62.5%;
}

.hauto{
    height: auto !important;
}
.mapa{
    padding: 0px !important;
    margin: 0px !important;
}
.pa{
    
    padding: 0px !important;
}
.ma{
    margin: 0px !important;

}
            //   COMMON VARIABLES 
            $main-color: rgba(209, 159, 22, 0.959);
            //   COMMON VARIABLES 

                            // common properties ending here 
// .....................................................................................................................................
// nav bar 
#navbar{
    position: relative;
    min-width: 100vw;
    height: 20vh;
    background: rgba(0, 0, 0, 0);
    padding: 2rem;
    z-index: 23;
    @include flexcustom(space-around, center, nowrap);
}
#navul{
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    
}

.nav-li{
    display: inline-block;
}


.logo{
    width: 14rem;
}
.nav-a{
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    margin: 0px 1rem;
    color: white;
    text-align: center;
    position: relative;
    transition: all 0.5s;
    text-decoration: none !important;
list-style: none;
z-index: 3434;
    
    &::after{
        @include bf(100%,0,100%,2px);
        background-color: white;
        opacity: 0;
        transition: all 0.5s;
}
&:hover.nav-a::after{
    opacity: 1;
}
&:hover{
    color: rgb(255, 255, 255);
  
    font-size: 1.9rem;
}


}


#main{
    background: url(./img/img1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
position: relative;


&::after{
    @include bf(0, 0, 100%, 100%);
    background: radial-gradient(#000000d4, #000000ab);
}


}
#togglebar{
    display: none;
}



// ..................................................................................................................... 
// Responsive code 
@media only screen and (max-width:901px){
    #navbar{
        @include flexcustom(center,flex-start ,nowrap );

flex-direction: column;
height: 20vh;

    }
    #navul{
        height: 100vh !important;
        top: 0;
        position: fixed;
        justify-content: center;
        width: 100%;
        text-align: center;
        flex-direction: column;
        left: -500%;
        transition: all 1s;
 
        background: linear-gradient(#000000, #000000eb);
        height: 70vh;
        z-index: 32432;
        background-color: #00e1ff;
        background-blend-mode: darken;

    }
    .nav-li{
        margin: 2rem 0px;
    }
    .parentlogo{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #togglebar{
        display: inline;
        z-index: 324324324324234324324;
    }


}
@media only screen and (min-width:550px) and (max-width:662px){
    .headerheading{
font-size: 6rem !important;
    }
    .logo {
        width: 13rem !important;
    }
}
@media only screen and (min-width:470px) and (max-width:549px){
    .headerheading{
font-size: 5rem !important;
max-width: 330px;

    }
    .hbtn{
        font-size: 2.3rem !important;
    } 
    .logo {
        width: 12rem !important;
    }
}
@media only screen and (min-width:360px) and (max-width:469px){
    .headerheading{
font-size: 5rem !important;
max-width: 330px;
    }
    .hbtn{
        font-size: 2.2rem !important;
    }
    .logo {
        width: 11rem !important;
    }
}
@media only screen and (min-width:300px) and (max-width:359px){
    .headerheading{
font-size: 3.5rem !important;
max-width: 250px;
    }
    .hbtn{
        font-size: 2.1rem !important;
    }
    .logo {
        width: 10rem !important;
    }
}
@media only screen and (min-width:200px) and (max-width:299px){
    .headerheading{
font-size: 2rem !important;

    }
    #headerheadingparent{
        max-width: 120px !important;
    }
    .hbtn{
        font-size: 1.3rem !important;
    }
    .logo {
        width: 9rem !important;
    }
}

// Responsive code ending
// nav bar ending
// .......................................... header startig////.................................................. 

#headerfigure{
    min-width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#headerheadingparent{
    @include flexcustom(center, center, nowrap);
    flex-direction: column;
    text-align: center;
    color: white;
    z-index: 3;
    font-family: 'Oxygen', sans-serif;
}
.headerheading{
    font-size: 7rem;
    font-family: 'Oxygen', sans-serif;
}
#headerbtn{
    flex-wrap: wrap;
    justify-content: center;
}
.hbtn{
padding: 0.4rem 2rem;
font-size: 2.3rem;
width: auto;
height: auto;
border: none;
z-index: 3;
outline: none;
color: white;
}
#firstheaderbtn{
    background-color: rgba(0, 0, 0, 0.445);


&:hover{

color: rgb(255, 255, 255);
background-color: rgba(255, 255, 255, 0.151);
text-shadow: 1px 2px 2px rgb(0, 0, 0);

}

}
#secondheaderbtn{
    background-color: rgba(255, 255, 255, 0.178);

    &:hover{

        color: rgb(255, 255, 255);
        background-color:rgba(0, 0, 0, 0.445);
        text-shadow: 1px 2px 2px rgb(0, 0, 0);
        
        }
}

// responsive part starting

// responsive part ending
// .......................................... header ending////.................................................. 
// .......................................... Just Rifht food////.................................................. 
.commonrow{
@include flexcenter;
}
.commonpara{
    font-size: 1.6rem;
    text-align:center;
    max-width: 35rem;
    word-break: break-all;
}
.commonheading{
    font-size: 3.5rem;
    text-align:center;
}
#justrightheading{
    color: $main-color;
    
}
// responsive part starting
@media only screen and (max-width:767px){
    #plate{
        display: none;
    }
}
// responsive part ending
// .......................................... Just Rifht food ending////.................................................. 
// .................................................fine ingridients 
#finemain{
    background: url("./img/img3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 615px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 7rem;
}
#fineinner{
    width: 50rem;
    height: 80%;
    background: linear-gradient(rgba(0, 0, 0, 0.596),rgba(0, 0, 0, 0.658));
    @include flexcustom(space-evenly,center ,nowrap );
    flex-direction: column;
    color: white;

}

// responsive param
@media only screen and (max-width:767px){
   #finemain{
justify-content: center;
padding: 0 10px;
   }
}
// responsive param
// .................................................fine ingridients ending
// .....................................menu css 

.menuheading h1, .menusubheadin h3{
    color: $main-color ;
}
.menuheading h1{
    
    font-size: 3.7rem;

}
.menuheading{
    @include flexcustom(center,center ,nowrap );
    flex-direction: column;
    width: 100%;
}
.menusubheadin h3{
    font-size: 20px;
}
.menusubheadin{
    @include flexcustom(space-between,center ,nowrap );
    flex-direction: row;
    width: 100% !important;
    border-bottom: 1px solid rgba(209, 159, 22, 0.247);
    padding: 6px 0px;
    margin: 10px 0px;
    
}
.menuinner{
    @include flexcustom(center,center ,nowrap );
    flex-direction: column;
    width: 100%;
}

.menuparainner{
    font-size: 1.3rem;
    width: 100%;
}
.menucolumn{
@include flexcustom(center,center ,nowrap );
flex-direction: column;
}
.menurow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

// respnsive part 


// respnsive part 


// .....................................menu css ending
// .....................................bootable css
.booktableparent{
margin: 10px 0px;
}

.booktableinner input{
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.048);
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    padding:6px 5px;
    transition: 1s;
    &:hover{
        border: 1px solid $main-color;
       
            
        }
        
    

}
.booktableinner label{
display: block;
font-size: 10px;
color: $main-color;
font-weight: bold;
}
.booktableinner{
    margin: 0px 10px;
}

#booktableheading
{
    color: $main-color;
  
}
#booktablebtn{
    height: auto;
    width: auto;
    font-size: 1.8rem;
    color: white;
    background: $main-color;
    padding: 5px 20px;
}


// respnsive part 
@media only screen and(max-width:767px)
{
    #booktableimgdiv{
        display: none !important;
    }
}
@media only screen and(max-width:767px)
{
    .booktableinner{
        width: 100%;
    }
    .booktableparent{
        flex-wrap: wrap;
    }
}

// respnsive part 


// .....................................booktable css ending

// footer css starting 
#footer{
    @include flexcustom(center,flex-start , wrap);
    background-color: rgb(12, 11, 11);
    margin-top: 13rem;
    color: rgb(218, 212, 212);
}
.footerparent,.footerheading{
    @include flexcustom(center,center , wrap);
    color: rgb(218, 212, 212);
    
    flex-direction: column;
}
.footerheading{
    flex-direction: column;
}
.footermainheading{
    font-size: 2.4rem;
}
.footerpara{
    font-size: 1.5rem;
    text-align: center;
    max-width: 30rem;
}
.footermoneyicons{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
    margin: 4rem 0rem;
}
.icons{
    font-size: 2.5rem;
    
color: white;
    margin: 0px 0.4rem;

    &:hover{
        color: rgb(126, 222, 247);
        cursor: pointer;
    }
}



// footer css Ending 
@media only screen and (min-width:768px) and (max-width:991px)
{
    #footerthirddiv{
        
        border-top: 1px solid #ffffff14;
        padding: 2rem 0;
    }
    
}
@media only screen and (max-width:767px){
    #footersecdiv,#footerfirstdiv{

        border-bottom: 1px solid #ffffff14;
        padding: 2rem 0;
    }
}






// common responsive medaia 

@media only screen and(min-width:300px) and(max-width:360px){

html{
    font-size: 59%;
}
}
@media only screen and(min-width:240px) and(max-width:299px){

html{
    font-size: 55%;
}
}
@media only screen and(min-width:1400px) and(max-width:1500px){

html{
    font-size: 65%;
}
}
@media only screen and(min-width:1501px) and(max-width:1700px){

html{
    font-size: 70%;
}
#finemain{
    height: 700px;
}
}
@media only screen and(min-width:1701px) and(max-width:1900px){

html{
    font-size: 74%;
}
#finemain{
    height: 800px;
}
}
@media only screen and(min-width:1901px) and(max-width:2100px){

html{
    font-size: 80%;
}
#finemain{
    height: 850px;
}
}
@media only screen and(min-width:2101px) and(max-width:2400px){

html{
    font-size: 88%;
}
#finemain{
    height: 900px;
}
}
@media only screen and(min-width:2401px) and(max-width:2700px){

html{
    font-size: 100%;
}
#finemain{
    height: 950px;
}
}
@media only screen and(min-width:2701px) and(max-width:4000px){

html{
    font-size: 115%;
}
#finemain{
    height: 950px;
}
}
@media only screen and(min-width:4001px) and(max-width:5000px){

html{
    font-size: 120%;
}
#finemain{
    height: 950px;
}
}
@media only screen and(min-width:5001px) and(max-width:8000px){

html{
    font-size: 140%;
}
#finemain{
    height: 950px;
}
}


// Extra svg setting 

.svg{
    filter: invert(79%) sepia(30%) saturate(5594%) hue-rotate(
        5deg
        ) brightness(94%) contrast(83%);

    }
    .justsvg{
        width: 50% !important;
        
        margin-bottom: 2rem;
    }
    .finetsvg{
        
filter: invert(68%) sepia(97%) saturate(0%) hue-rotate(136deg) brightness(105%) contrast(98%);
    width: 70% !important;

}
.footersvg{
    width: 50% !important;
}
.menusvg{
    width: 70%;
}
#finemainfirstdiv{
    @include flexcenter;
    flex-direction: column;
}
.footerheading{
    margin-bottom: 2rem;
}


#plate figure img{
    animation: plate 5s ease-in 0s infinite;
}
#profilepic{
    
    animation: profile 5s ease-in 0s infinite;
}
@keyframes plate {

    0%{
        transform: scale(1);
    }
    50%{
        
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);

    }
    
}
@keyframes profile {

    0%{
        transform: scale(1);
    }
    50%{
        
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);

    }
    
}

.headerheading  {
    animation: heading 3s ease-in 2s infinite;
 font-family: 'Inconsolata', monospace !important;

}
// @keyframes heading {
//     0%{
//         color: white;
//     }
//     80%{
//         font-family: 'Inconsolata', monospace;
//     }
// }
footer h5{
    width: 100% !important;
    @include flexcustom(center,center,nowrap) 
}
// .footerpara {
//     font-size: 1rem;
//     text-align: center;
//     max-width: 30rem;
// }